* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;    
  -moz-box-sizing: border-box;          
  box-sizing: border-box;
}

.clear-box {
  clear: both;
}


main {
  width: 1020px;
  margin: auto;
}

.back-black {
  background-color: black;
}

nav {
  height: 60px;
  padding-left: 180px;
  padding-top: 15px;
}

.colornav{
  color: white;
}

.menu {
  list-style-type: none;
  padding-top: 6px;
}

nav h1 a {
  text-decoration: none;
  float: left;
  color: #cfa205;
  font-size: 18px;
  padding-top: 6px;
}


.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding-left: 20px;
}

.menu li {
    float:left;
}

/*ici header*/

.bigtitle {
  text-align: center;
  font-size: 133px;
  color: #cfa205;
  font-family: "Josefin Sans";
  padding-top: 50px;
}

header {
  height: 380px;
}
